<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome!
  </h1>
</div>
<h2>Here are the links for routing: </h2>
<ul>
  <li>
    <h2><a routerLink="/">App</a></h2>
  </li>
  <li>
    <h2><a routerLink="/home">Homepage</a></h2>
  </li>
  <li>
    <h2><a routerLink="/techs">Tech page</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com">Example of outside link</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
